In [1]:
import pandas as pd

# Load dataset

In [2]:
df = pd.read_csv("loan_approval_dataset.csv")

# 1. Checking data types and non-null counts

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB
None

# 2. Check for missing values

In [4]:
print(df.isnull().sum())

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

# 3. Checking for duplicates

In [5]:
print("\n Number of Duplicate Rows:", df.duplicated().sum())

 Number of Duplicate Rows: 0

In [6]:
print("\n Sample Data:")
print(df.head())

 Sample Data:
   loan_id   no_of_dependents      education  self_employed   income_annum  \
0        1                  2       Graduate             No        9600000
1        2                  0   Not Graduate            Yes        4100000
2        3                  3       Graduate             No        9100000
3        4                  3       Graduate             No        8200000
4        5                  5   Not Graduate            Yes        9800000

    loan_amount   loan_term   cibil_score   residential_assets_value  \
0      29900000          12           778                    2400000
1      12200000           8           417                    2700000
2      29700000          20           506                    7100000
3      30700000           8           467                   18200000
4      24200000          20           382                   12400000

    commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                  17600000              22700000            8000000
1                   2200000               8800000            3300000
2                   4500000              33300000           12800000
3                   3300000              23300000            7900000
4                   8200000              29400000            5000000

   loan_status
0     Approved
1     Rejected
2     Rejected
3     Rejected
4     Rejected